@using Domain.Common.Enums
@using Domain.Entities
@using System.Globalization
@using static UI.Areas.Executive.Pages.CreateConferenceRequestModel
@model ConferenceModel
@{
    var hideshow = string.Empty;

    if (Model.Status != nameof(StatusType.Approved))
    {
        hideshow = "no-displayview";
    }
}
<style>
    .no-displayview {
    display: none !important;
    }

    .displayview {
    display: block !important;
    }

    .disabled-input {
    opacity: 1;
    }
</style>
<form class="needs-validation formclass" novalidate method="post">
    <div>
        <div class="nav-align-top mb-6">
            <ul class="nav nav-pills mb-4 nav-fill" role="tablist" style="border: 1px solid var(--bs-border-color); border-radius: var(--bs-border-radius-lg); box-shadow: 0 0.25rem 0.875rem 0 rgba(38, 43, 67, 0.16); padding: 5px;">
                <li class="nav-item mb-1 mb-sm-0">
                    <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#request-details" aria-controls="navs-pills-justified-home" aria-selected="true"><i class="tf-icons ri-function-line me-2"></i> Overview</button>
                </li>
                @if (Model?.Status == nameof(StatusType.Approved))
                {
                    <li class="nav-item mb-1 mb-sm-0">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#package-details" aria-controls="navs-pills-justified-profile" aria-selected="false"><i class="tf-icons ri-restaurant-2-fill me-2"></i> Food Package</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#addons-details" aria-controls="navs-pills-justified-messages" aria-selected="false"><i class="tf-icons ri-apps-2-add-fill me-2"></i> Addons</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#invitees-details" aria-controls="navs-pills-justified-messages" aria-selected="false"><i class="tf-icons ri-user-add-fill me-2"></i> Invitees</button>
                    </li>
                }
            </ul>
            <div class="tab-content" style="box-shadow: none; border: 1px solid var(--bs-border-color);">
                <div class="tab-pane fade show active" id="request-details" role="tabpanel">
                    @await Html.PartialAsync("~/Areas/Shared/Modal/Conference/_ViewConferenceRequest.cshtml", Model)
                </div>
                <div class="tab-pane fade" id="package-details" role="tabpanel">
                    @await Html.PartialAsync("~/Areas/Shared/Modal/Conference/_PackageConferenceDetails.cshtml", Model)
                </div>
                <div class="tab-pane fade" id="addons-details" role="tabpanel">
                    @await Html.PartialAsync("~/Areas/Shared/Modal/Conference/_AddonsConferenceDetails.cshtml", Model)
                </div>
                <div class="tab-pane fade" id="invitees-details" role="tabpanel">
                    @await Html.PartialAsync("~/Areas/Shared/Modal/Conference/_AddOrEditConferenceAttendeePartial.cshtml", Model)
                </div>
            </div>
        </div>
    </div>

</form>
<script src="~/js/site.js" asp-append-version="true"></script>
