@page "/access-denied"
@{
    ViewData["Title"] = "Access Denied";
}

<style>
    .misc-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 1.25rem;
    }

    .misc-bg {
        inline-size: 100%;
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;
    }

    .misc-object {
        position: absolute;
        bottom: 8%;
        z-index: 1;
    }

    html:not([dir=rtl]) .misc-object {
        left: 16%;
    }

    [dir=rtl] .misc-object {
        right: 10%;
    }
</style>
@* ************** Content ************** *@
<!-- Not Authorized -->
<div class="misc-wrapper">
    <h1 class="mb-2 mx-2" style="font-size: 6rem;line-height: 6rem;">401</h1>
    <h4 class="mb-2">You are not authorized! 🔐</h4>
    <p class="mb-3 mx-2">You don’t have permission to access this page.</p>
    <div class="d-flex justify-content-center mt-12"> 
        <div class="d-flex flex-column align-items-center">
            <img src="~/img/illustrations/doc-illustration-not-authorised.png" alt="misc-not-authorized" class="img-fluid z-1" width="160">
        </div>
    </div>
</div>