@page "/"
@model UI.Areas.Site.Pages.IndexModel
@using Domain.Common.Const

@{
    ViewData["Title"] = "Home page";
    Layout = Layouts.Default;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @DateTimeOffset.UtcNow.ToString()
</div>