@model Infrastructure.Rendering.ViewModels.ForgotPasswordVm

@{
    Layout = "EmailLayout.cshtml";
}

<h2>Reset your password</h2>
You have requested to reset your password.
Please reset your password by <a target="_blank" href="@Model.ResetPasswordUrl">clicking here</a>.
<br/><br/><hr/>

<div style="font-size: 11px">
    Or you can copy and paste the URL below into your browser address bar:
    <br/><br/>
    <div style="font-size: 11px; width: 560px; word-wrap: break-word; font-style: italic;">
        @Model.ResetPasswordUrl
    </div>
</div>