@model Infrastructure.Rendering.ViewModels.CredientialsAndConfirmEmailVm

@{
    Layout = "EmailLayout.cshtml";
}
<h2>Your account has been updated</h2>
<br />
<h4> Your account @Model.Username has been updated.</h4>
   